@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.cdnfonts.com/css/miama");
body {
  font-family: "Inter", sans-serif;
  /* background-color: black; */
}
* {
  margin: 0;
  padding: 0;
}
/** shared styles starts here */
.display-flex {
  display: flex;
}
p {
  color: rgba(255, 255, 255, 0.5);
}
.btn-1,
.btn-3 {
  width: 14rem;
  height: 3.375rem;
  border-radius: 2.6rem;
  border: none;
  background-color: #e6533c;
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 2.125rem;
  cursor: pointer;
}
.btn-3 {
  display: none;
}

/** shared styles ends here */

/** header style starts here  */
.header {
  background: linear-gradient(rgb(17, 17, 17), rgba(9, 9, 9, 1) 100%);
  width: 100%;
  /* border: 3px solid red; */
}

/** navbar style starts here  */
.navbar {
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 1.83rem 0;
  /* border: 3px solid tomato; */
}
.nav-items {
  gap: 3rem;
  width: 50%;
  border: 3px solid rgba(255, 255, 255, 0.101);
  border-radius: 2.6rem;
  padding: 1rem 0rem;
}
.navbar h1 {
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
}
.ham-burger {
  display: none;
}
.nav-items li {
  list-style: none;
}
.nav-items a {
  text-decoration: none;
  padding-right: 1.5rem;
  font-size: 1.12rem;
  font-weight: 400;
  color: white;

  /* border: 2px solid green; */
}
.nav-home {
  font-weight: 600;
  background-color: #e6533c;
  padding: 1rem 2rem;
  border-radius: 2.6rem;
}

/** navbar style ends here  */
/** banner section starts here  */

.banner {
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: start;
  /* border: 2px solid red; */
  margin-top: 3rem;
}
.banner-text {
  flex-direction: column;
  width: 50%;
  /* border: 2px solid green; */
  /* gap: 2rem; */
}
.banner-text h1 {
  font-size: 4.875rem;
  font-weight: 900;
  color: white;
}
.banner-span {
  font-family: "Miama", sans-serif;
  font-weight: 400;
  font-size: 4.875rem;
  color: white;
  /* padding-right: 2rem; */
}

.banner-image {
  /* height: 100%; */
  position: relative;
  /* border: 2px solid red; */
}
.free-workout {
  position: absolute;
  top: 18%;
  left: 62%;
  width: 11.06rem;
  height: 5.125rem;
  color: white;
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.5rem;
  backdrop-filter: blur(20px);
  border-radius: 0.8rem;
  /* z-index: 1; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(255, 255, 255, 0.1);
}
.free-workout h1 {
  font-size: 2.5rem;
  font-weight: 900;
}
.video-tutorial {
  position: absolute;
  top: 70%;
  left: -30%;
  width: 11.06rem;
  height: 5.125rem;
  color: white;
  text-align: left;
  padding-left: 1rem;
  /* padding-top: 1rem; */
  backdrop-filter: blur(20px);
  border-radius: 0.8rem;
  align-items: center;
  /* z-index: 1; */
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(48, 48, 48, 0.54);
}
.video-tutorial h1 {
  font-size: 1.5rem;
  font-weight: 900;
}
.red-dot {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgb(230, 83, 60);
  margin-right: 1rem;
}
.banner img {
  width: 100%;
  height: 100%;
  /* border: 3px solid tomato; */
}
.btn-2 {
  width: 14rem;
  height: 3.375rem;
  border-radius: 2.6rem;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.101);
  color: white;
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 2.125rem;
  margin-left: 1.125rem;
  cursor: pointer;
}

/** banner section ends here  */

/** habit section starts here  */
.habit-container {
  background-color: black;
  width: 100%;
  /* border: 1px solid greenyellow; */
}
.text-part {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 45%;
  margin: 0 auto;
  padding-top: 5.5rem;
}
.text-part h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;

  margin-bottom: 1.12rem;
}

.card-part {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* justify-content: space-between; */
  width: 70%;
  margin: 0 auto;
  padding: 3.5rem 0rem;
  /* border: 2px solid blue; */
  /* padding: 0 2.5rem; */
}
.card-1,
.card-2,
.card-3,
.card-4 {
  text-align: center;
  /* margin: 0rem 1.125rem; */
  width: 14.4375rem;
  /* border: 1px solid red; */
}
.card-1 img,
.card-2 img,
.card-3 img,
.card-4 img {
  border-radius: 50%;
  border: 1px solid white;
}
.card-part h1 {
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}
.card-part p {
  font-size: 0.875rem;
  font-weight: 400;
}
/** habit section ends here  */

/**running section starts here  */
.running-container {
  background-color: black;
  width: 100%;
  /* border: 3px solid rebeccapurple; */
}
.running {
  width: 70%;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.916);
  margin: 0 auto;
  border-radius: 2rem;
  /* border: 1px solid khaki; */
}
.left-side {
  width: 40%;
  margin-left: 1rem;
  /* border: 2px solid darkblue; */
}
.left-side h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.left-side p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.right-side {
  width: 40%;
  height: 19.5rem;
  background-image: url("../images/run.jpg");
  background-repeat: no-repeat;
  background-position: 68% 30%;
  border-radius: 2rem;
  /* border: 2px solid darkblue; */
}
/* .right-side img{
  width: 100%;
  height: 100%;
  border-radius: 2rem;
} */
/**running section ends here  */
/** BMI section starts here  */

.BMI-upper {
  background-color: black;
}

.BMI-text {
  width: 43%;
  margin: 0 auto;
  padding: 5.5rem 0;
}
.BMI-text h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.BMI-text p {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.BMI-down {
  background-color: #222222;
  width: 100%;
  padding: 3.25rem 0rem;
}
.BMI-calculate {
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}

.down-left h1,
.down-right h1 {
  color: white;
  font-size: 1.75rem;
  font-weight: 900;
}
.table {
  border-collapse: collapse;
  width: 19.375rem;
  margin-top: 3.25rem;
}
td,
th {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding-left: 1rem;
  text-align: left;
  height: 2.7rem;
}
th {
  color: white;
  font-size: 1rem;
  font-weight: 500;
}
td {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
}
.down-right {
  width: 60%;
  /* border: 2px solid green; */
}
.down-right p {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.5);
  padding-top: 0.8rem;
}
.form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.125rem;
  row-gap: 1rem;
  column-gap: 1rem;
  /* border: 2px solid red; */
  width: 100%;
}
input[type="text"] {
  width: 45%;
}
::placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding: 0.5rem;
}

input[type="text"],
.sex,
.activity {
  padding: 0.5rem 0rem;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: rgba(255, 255, 255, 0.6);
}
.sex {
  width: 45%;
  padding-left: 0.5rem;
}
.activity {
  width: calc(90% + 1rem);
  padding-left: 0.5rem;
}

/** BMI section ends here  */

/** meet our team section start  */

.meet-container {
  background-color: black;
  width: 100%;
  /* border: 2px solid royalblue; */
}

.meet-section {
  margin: 0 auto;
  padding-bottom: 5.5rem;
  /* border: 3px solid saddlebrown; */
}
.text-part {
  width: 45%;
  padding-bottom: 3.625rem;
}
.image-part {
  width: 70%;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
  margin: 0 auto;
  border-radius: 1.125rem;
  background: rgba(255, 255, 255, 0.1);
  /* border: 2px solid green; */
}
.row-1,
.row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  margin: 1.25rem;
}
.image-part img {
  width: 100%;
  height: 17rem;
  border-radius: 1rem;
  filter: brightness(70%);
}
.country-area1,
.country-area2,
.country-area3,
.country-area4,
.country-area5,
.country-area6 {
  position: relative;
}
.country-area1 h1,
.country-area2 h1,
.country-area3 h1,
.country-area4 h1,
.country-area5 h1,
.country-area6 h1 {
  color: white;
  margin-bottom: 0.3rem;
}
.text {
  position: absolute;
  top: 75%;
  left: 5%;
}

/** meet our team section end  */
/** services section starts here  */
.services {
  width: 100%;
  background-color: black;
  padding-bottom: 5.5rem;
}
.services-text {
  width: 45%;
  margin: 0 auto;
  padding-bottom: 3.625rem;
}
.services-text h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.services-text p {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.5rem;
}
.services-cards {
  width: 70%;
  padding-top: 0.2rem;
  padding-bottom: 0.1rem;
  margin: 0 auto;
  border-radius: 1.125rem;
  background: black;
}
.services-row-1,
.services-row-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  margin: 1.25rem;
}
.services-cards h2,
.services-cards p,
.services-cards .service-image {
  padding: 0.8rem 0.8rem 0 0.8rem;
}
.services-cards h2 {
  color: rgba(255, 255, 255, 0.892);
}
.services-row-1 .anc,
.services-row-2 .anc {
  padding: 0.8rem;
}
.services-row-1 .anc a,
.services-row-2 .anc a {
  color: rgba(232, 230, 230, 0.9);
}
.services-cards p {
  font-size: 0.8rem;
  line-height: 1.2rem;
}
.service-card-1,
.service-card-2,
.service-card-3,
.service-card-4,
.service-card-5,
.service-card-6 {
  width: 100%;
  height: 17rem;
  background: linear-gradient(
    to bottom right,
    rgba(120, 120, 255, 0),
    rgba(120, 200, 255, 0.5)
  );
  border-radius: 1rem;
  /* padding: 0.8rem; */
  /* text-align: center; */
}
.service-image {
  width: 4rem;
  height: 4rem;
  /* border: 2px solid green; */
}
.service-card-1 img,
.service-card-2 img,
.service-card-3 img,
.service-card-4 img,
.service-card-5 img,
.service-card-6 img {
  width: 100%;
  height: 100%;
  background-color: rgb(227, 208, 208);
  border-radius: 0.6rem;
  /* border: 2px solid white; */
  box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgb(85, 72, 72);
}

/** services section ends here  */

/** footer section stars here */
.footer-container {
  width: 100%;
  padding-top: 4.125rem;
  /* border: 2px solid palevioletred; */
  background-color: rgba(0, 0, 0, 0.88);
}
.footer {
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
  /* margin-top: 4.125rem; */
  /* border: 2px solid rgb(155, 146, 43); */
}
#hr {
  width: 70%;
  margin: 4.125rem auto;
}
.footer-p {
  text-align: center;
  /* margin: 2.125rem 0; */
  padding: 2.125rem 0;
}
.footer .first h1 {
  color: rgb(230, 83, 60);
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.footer .first {
  width: 33%;
}
.footer .second p,
.third p {
  margin-top: 2rem;
}
.footer .second h1,
.third h1 {
  color: white;
}
/** footer section ends here  */

/** media query starts here  */
@media screen and (max-width: 576px) {
  /** navbar section starts here  */
  .navbar {
    justify-content: space-between;
    width: 90%;
    padding: 3rem 0;
  }

  .nav-items {
    display: none;
  }
  .ham-burger {
    display: inline;
  }
  /** navbar section ends here  */
  /** banner section starts here  */

  .banner {
    width: 90%;
    /* margin: 3rem 1.25rem; */
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-top: 3rem;
    /* border: 1px solid yellow; */
    /* margin-bottom: 3rem; */
  }
  .banner-text {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .banner-text h1 {
    font-size: 2.125rem;
    width: 14.8125rem;
    padding-right: 3rem;
    margin-bottom: 1.875rem;
    /* border: 2px solid green; */
  }
  .banner-span {
    font-family: "Miama", sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
  }
  .btn-3 {
    display: inline;
  }
  .banner .btn-1 {
    display: none;
  }
  .btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .btn .btn-2,
  .btn .btn-3 {
    width: 48%;
    margin: 1rem 0;
  }
  .free-workout {
    top: 10%;
    left: 52.2%;
    width: 8.5rem;
    height: 4.625rem;
  }
  .free-workout p {
    font-size: 0.8125rem;
    font-weight: 400;
  }
  .video-tutorial {
    position: absolute;
    top: 40%;
    left: 0%;
    width: 9.6875rem;
    height: 4.5rem;
  }
  .video-tutorial h1 {
    font-size: 1.125rem;
    font-weight: 900;
  }
  .red-dot {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    margin-right: 1rem;
  }
  .banner-image {
    height: 100%;
    position: relative;
    /* border: 2px solid red; */
    margin: 0 auto;
    margin-top: 3rem;
  }
  /** banner section ends here  */

  /** habit section starts here  */
  .habit-container {
    background-color: black;
    width: 100%;
    /* border: 1px solid greenyellow; */
  }
  .text-part {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 0rem;
  }
  .text-part h1 {
    font-size: 2rem;
    margin-bottom: 1.12rem;
  }

  .card-part {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 90%;
    padding-bottom: 3.5rem;
    margin-bottom: 0;
    gap: 2.5rem;
    /* border: 1px solid green; */
  }
  .card-1,
  .card-2,
  .card-3,
  .card-4 {
    margin: 0 auto;
    /* border: 1px solid red; */
  }

  /** habit section ends here  */

  /** running section starts here  */
  .running {
    width: 90%;
    flex-direction: column;
    padding: 2rem 0;
    border: none;
    /* padding-bottom: 2rem; */
  }
  .running .btn-1 {
    margin-bottom: 3rem;
  }

  .left-side {
    width: 90%;
    margin: 0 auto;
  }
  .left-side h1 {
    font-size: 2rem;
  }
  .left-side .btn-1 {
    width: 100%;
    margin: 1.5rem auto;
  }
  .right-side {
    width: 90%;
    height: 10.5rem;
    background-size: cover;
    border-radius: 2rem;
  }

  /** running section ends here  */
  /** BMI section starts here  */
  .BMI-text {
    width: 90%;
    margin: 0 auto;
  }
  .BMI-text h1 {
    color: white;
    font-size: 2rem;
    font-weight: 900;
  }

  .BMI-calculate {
    width: 90%;
    flex-direction: column;
  }
  .BMI-down {
    padding: 0rem;
  }
  .BMI-text {
    padding: 2rem 0rem;
  }
  .down-left h1,
  .down-right h1 {
    font-size: 1rem;
    margin-top: 2.5rem;
  }
  .table {
    border-collapse: collapse;
    width: 90%;
    margin-top: 1.4375rem;
  }
  .down-right {
    width: 100%;
    margin: 0 auto;
  }
  .sex {
    width: 45%;
    padding-left: 0.5rem;
  }
  .activity {
    width: calc(90% + 1rem);
    padding-left: 0.5rem;
  }
  input[type="text"] {
    width: 45%;
  }
  .down-right {
    padding-bottom: 2.625rem;
  }
  input[type="text"],
  .sex,
  .activity {
    padding: 0.8rem 0rem;
  }
  /** BMI section ends here  */
  /** our team section starts here  */
  .country-area2 {
    order: 1;
  }
  .country-area1 {
    display: none;
  }
  .country-area4 {
    display: none;
  }
.country-area3{
  order: 4;
}
  .text-part {
    padding-top: 3rem;
    padding-bottom: 0rem;
  }
  .text-part h1 {
    font-size: 2rem;
  }
  .text-part p {
    font-size: 0.8rem;
    padding-bottom: 2.125rem;
  }
  .image-part {
    width: 90%;
  }

  .row-1,
  .row-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  /** our team section ends here  */
  /** service section starts here  */
  .services-text {
    width: 90%;
    padding-bottom: 0rem;
  }

  .services-text h1 {
    font-size: 2rem;
  }

  .services-text p {
    font-size: 0.8rem;
    padding-bottom: 2.125rem;
  }
  .services-cards h2 {
    font-size: 1.2rem;
  }
  .services-row-1,
  .services-row-2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 0;
    margin-bottom: 1.25rem;
  }
  .services-cards {
    width: 90%;
  }
  /** service section ends here  */

  /** footer section stars here  */
  .footer {
    flex-direction: column;
    width: 90%;
  }
  .footer .first {
    width: 90%;
  }
  .footer .second h1,
  .third h1 {
    margin-top: 1.25rem;
  }
  #hr {
    width: 90%;
  }
  /** footer section ends here  */
}
